services:
  java-app:
    build:
      context: .
    ports:
      - "8080:8080"
    # environment:
    #   # OpenTelemetry Java Agent configuration
    #   # - JAVA_TOOL_OPTIONS=-javaagent:/app/opentelemetry-javaagent.jar
    #   # - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318 # OTLP HTTP endpoint of the Collector, default for agent
    #   # - OTEL_SERVICE_NAME=otel-java-app
    networks:
     - otel-network

  otel-collector:
    image: otel/opentelemetry-collector
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol/config.yaml
      - ./logs:/logs
    ports:
      - 1888:1888 # pprof extension
      - 8888:8888 # Prometheus metrics exposed by the Collector
      - 8889:8889 # Prometheus exporter metrics
      - 13133:13133 # health_check extension
      - 4317:4317 # OTLP gRPC receiver
      - 4318:4318 # OTLP http receiver
      - 55679:55679 # zpages extension
    networks:
     - otel-network

  jagger:
    image: cr.jaegertracing.io/jaegertracing/jaeger:2.13.0
    ports:
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "14250:14250"
      - "14268:14268"
      - "14269:14269"
      - "9411:9411"
    networks:
      - otel-network

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - otel-network

networks:
  otel-network:
