receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:

exporters:
  debug:
    verbosity: detailed
  otlp:
    endpoint: "http://jagger:4317"
    tls:
      insecure: true
  prometheus:
    endpoint: "0.0.0.0:8889"
  file:
    path: ./logs/otel-logs.txt

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug,otlp]
    
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug,prometheus]

    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug,file]
